.mid_container{
   /* height: 100vh; */
   background:#fffdf7
}





.navs{
    margin-top: 5rem;
}
.navbar a{
    color: black !important;
}
.navbar a:hover{
    text-decoration: none;
    color: #8b6014 !important;
}
